body {
  word-wrap: break-word;
}

.text-input {
  border: 2px solid #3696bb;
  border-radius: .5rem;
}

.active-control {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

a.clickable-control {
  text-decoration: none;
}

.input-control {
  margin: 10px;
}